* {
    box-sizing: border-box;
}

body {
    background: #fff;
    margin: 0;
    font-family: monospace;
}

h1 {
    color: #ebb86cec;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}


/*Estilos de la galeria*/

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: #fff;
    padding: 10px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item:nth-child(4) {
    grid-column-start: span 3;
}

.gallery__item:nth-child(6) {
    grid-column-start: span 2;
}

.gallery__item:nth-child(12) {
    grid-column-start: span 3;
}

.gallery__item:nth-child(10) {
    grid-column-start: span 2;
}